<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Renzo</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Stock</th>
                <th scope="col">Photo</th>
            </tr>
        </thead>
        <tbody>
            <% array.forEach(file=>{ %>
                <tr>
                    <td><%= file.productName %></td>
                    <td><%= file.stock %></td>
                    <td><img style="height:50px; width: 50px;" src=" <%= file.photoURL %>"></td>
                </tr>
            <%}) %>
        </tbody>
    </table>
</body>
</html>