<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Renzo</title>
</head>
<body>
    <div>
            <% mensajes.forEach(file=>{ %>
                <ul>
                    <img style="height:50px; width: 50px;" src=" <%= file.avatar %>">
                    <h2><%= file.authorName %> <%= file.authorLastName %></h2> 
                    <span><%= file.message %></span>
                </ul>
            <%}) %>
    </div>
</body>
</html>